@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
	font-family: "Roboto", sans-serif;
}
#about {
	height: 80vh;
}
.row img {
	width: 100%;
	height: auto;
	border-radius: 10%;
}

.row li {
	list-style: square;
}
.row p {
	text-transform: capitalize;
}

@media (max-width: 768px) {
	.row p,
	ul {
		width: 100%;
		font-size: 0.688rem;
	}
	#about {
		height: 80vh;
		margin: 0 !important;
		padding: 10px !important;
		padding-top: 0px !important;
	}
	#bio {
		display: none;
	}
}
